@media(max-width:768px){

    .menu-btn{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:80px;
        right:-100%;
        width:250px;
        background:black;
        flex-direction:column;
        padding:30px;
        transition:.4s;
    }

    .nav-links.show{
        right:0;
    }
}