/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f5f7fb;
    color:#222;
}

/* Navbar */
.navbar{
    width:100%;
    padding:20px 8%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:30px;
    font-weight:700;
    color:white;
    letter-spacing:1px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
    transition:.3s;
}

.nav-links a:hover{
    color:#00e5ff;
}

/* Hero */
.hero{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
    url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:65px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:22px;
    margin-bottom:30px;
}

.hero-content button{
    border:none;
    padding:16px 40px;
    border-radius:40px;
    background:#00d9ff;
    font-size:17px;
    cursor:pointer;
    font-weight:600;
    transition:.3s;
}

.hero-content button:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(0,0,0,.25);
}

/* Section */
section{
    padding:90px 8%;
}

section h2{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
}

/* Why */
.why{
    background:linear-gradient(135deg,#00d2ff,#0066ff);
    color:white;
}

.features{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.box{
    width:260px;
    padding:35px;
    border-radius:20px;
    text-align:center;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(8px);
    font-size:22px;
    transition:.3s;
}

.box:hover{
    transform:translateY(-10px);
}

/* Footer */
footer{
    padding:30px;
    text-align:center;
    background:black;
    color:white;
    font-size:16px;
}   

/* nav icons */
.nav-icons{
    display:flex;
    align-items:center;
    gap:20px;
}

#themeBtn{
    border:none;
    background:white;
    width:40px;
    height:40px;
    border-radius:50%;
    cursor:pointer;
    font-size:18px;
}

.menu-btn{
    color:white;
    font-size:30px;
    cursor:pointer;
    display:none;
}

/* booking */
.booking{
    background:white;
}

.booking form{
    max-width:700px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.booking input{
    padding:18px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

.booking button{
    padding:18px;
    border:none;
    background:#008cff;
    color:white;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
}

/* dark mode */
.dark{
    background:#121212;
    color:white;
}

.dark .popular,
.dark .booking{
    background:#1c1c1c;
}

.dark .swiper-slide{
    background:#252525;
    color:white;
}

.dark input{
    background:#222;
    color:white;
    border:1px solid #444;
}

/* Search */
.search-section{
    background:white;
    text-align:center;
}

.search-box{
    max-width:700px;
    margin:auto;
    display:flex;
    gap:15px;
}

.search-box input{
    flex:1;
    padding:18px;
    border-radius:50px;
    border:1px solid #ddd;
    font-size:16px;
}

.search-box button{
    padding:18px 35px;
    border:none;
    border-radius:50px;
    background:#008cff;
    color:white;
    cursor:pointer;
}

/* Testimonials */
.testimonials{
    background:#f7fbff;
}

.review-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.review{
    width:300px;
    padding:30px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.review:hover{
    transform:translateY(-10px);
}

.review p{
    font-size:17px;
    margin-bottom:20px;
    line-height:1.7;
}

.review h4{
    color:#008cff;
}

/* Animation */
.fade-up{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.fade-up.show{
    opacity:1;
    transform:translateY(0);
}




/* Modal */
.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.55);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.modal.active{
    display:flex;
}

.modal-box{
    width:450px;
    background:white;
    padding:40px;
    border-radius:20px;
    position:relative;
}

.modal-box h2{
    margin-bottom:25px;
    text-align:center;
}

.modal-box form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.modal-box input{
    padding:16px;
    border:1px solid #ddd;
    border-radius:10px;
}

.modal-box button{
    padding:16px;
    border:none;
    background:#008cff;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

#closeModal{
    position:absolute;
    right:20px;
    top:15px;
    font-size:30px;
    cursor:pointer;
}